html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    width: 100%;
    overflow: hidden
}
header{
    background-color: burlywood;
     z-index: 20;
    position: relative;
    width: 100%;
}

.close{
    cursor: pointer;
    padding: 0 1%;
    font-size: 2em;
}
section{
    height: 100vh;
    
}
#land {
    z-index: 10;
	position: relative;
}
#about {
    
    visibility: hidden;
    z-index: 11;
    top: 0;
    width: 100%;
    position: absolute;
	background-color: bisque;
    
}
#work {
    visibility: hidden;
    
    top: 0;
    width: 100%;
    position: absolute;
	background-color: darkcyan;
}